*{
    margin: 0px;
    padding: 0px;
}
/* nav section styles */
.menu-container{
    background-color: rgb(175, 160, 160);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}
.contact-us ol{
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 20px;  
}

/* section 1 styles */
.section-container{
    background-image:url('/image/background.jpg'),linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    height: 100vh;
    color:white;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
}
.section-about{
    margin: 0 auto;
}
.section-title{
    font-size: 85px;
    margin-bottom: 15px;
}
.section-description{
    font-size: 21px; 
    max-width: 670px;
}
.btn-primary{
    padding:13px 39px;
    background-color: red;
    font-size:21px;
    border: none;
    margin-top: 25px;
    margin-right:8px;
    color: white;
}
.btn-grey{
    padding: 13px 39px;
    background-color: rgb(173, 157, 157);
    font-size:21px;
    border: none;
}
.digital{
    color: red;
}

/* section 1 styles */
.section-1-btn{
    padding: 13px 39px;
    font-size:21px;
    border: none;
    border-radius: 25px;
    margin-bottom: 18px;
}
.services-span{
    font-size: 43px;
    color: red;
}
.sectin-1-title{
    font-size: 33px;
    margin-bottom:23px;
    
}
.section-1-description{
    margin-bottom:27px;
    font-size: 20px;
}
.section-1-container{
    max-width: 650px;
}
.section-1-container li{
    font-size: 18px;
}
.section-1-author{
    display: flex;
    max-width: 490px;
    align-items: center;
    margin-top: 27px;
    justify-content: space-between;

}
.author-image{
    border-radius: 70px;
    width: 80px;
    margin-right:6px;
}
.btn-more{
    color: red;
    background-color: white;
    padding: 13px 39px;
    font-size:21px;
    border-radius: 25px;
    border:none;
    margin-left: 12px;

}
.service-section{
    height: 100vh;
    background-image: url('/image/footer-bg.png'),linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9));;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-1-author-doc{
    display: flex;
    align-items: center;
    gap: 3px;  
}
.border-btn{
    border-left: 1px solid red;
    height: 84px;
    display: flex;
    align-items: center;
}
.right-side-icon{
    width: 320px;
    height: 280px;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
}

.right-image{
    width: 80px;
    height: 90px;
    text-align: center;
    margin-top: 42px;
}

.right-side-service h3{
    margin-top: 16px;
}
.first-two-box{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
.last-two-box{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
/* appointment section styles */
.appointment-section{
    background-color: red;
    height: 175px;
    border-radius: 13px;
    margin: -80px 160px 0px 160px;
    padding: 10px 130px 0px 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-appointment{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    border-right: 2px solid rgb(63, 60, 60);
    padding-right: 10px;
}
.small-h2{
    display: block;
    padding-top: 17px;
}
.right-appointment{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
}
.appoint-image{
    padding-bottom: 18px;
}
.text-part{
    text-align: center;
    padding: 30px;
}
.text-document{
    background-color: tomato;
    width: 290px;
    height: 370px;
    border-radius: 10px;
}
.man{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
}
.text-document h3{
    font-size: 24px;
    padding-bottom: 14px;
}
.last-section{
    display: flex;
    padding: 26px;
   width: 50%;
   margin: auto;
   gap: 70px;
}

  